.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.git
.gitignore
.yarnrc
esbuild.mjs
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts

**/.vscode-test.*
**/.test.ts
.vitest/
vitest.config.mts
coverage

.env
*.log
public/examples/**.gif
.github/
CHANGELOG.md
release_notes.txt
.husky/
lint-staged.config.cjs
GEMINI.md
docs/
scripts/
profile/