[package]
name = "rust"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib"]

[dependencies]
serde = "1.0.228"
serde-wasm-bindgen = "0.6.5"
serde_derive = "1.0.228"
serde_json = "1.0.145"
wasm-bindgen = "0.2.105"
