.markdown header {
  margin-bottom: 1rem;
}
.markdown img, .markdown svg {
  display: block;
  margin: 0 auto;
}
@media screen and (min-width: 30rem) {
  .markdown img, .markdown svg {
    max-width: 80%;
  }
}
