.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 12.5rem;
  width: 18.75rem;
  border: 1px solid var(--ifm-color-emphasis-300);
  border-radius: 1rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
}
